
# Name of our CI/CD Pipeline
name: Build and Deploy Springboot app using CI/CD

# Tells when to execute the below jobs (actions)
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# In the below job we
jobs:
  build-deploy:  # Job name
    name: Build and Deploy Springboot app

    # Defines the runner - the machine on which the actions will run
    runs-on: ubuntu-latest

    # Defines the steps that the job will perform
    steps:

        # Step 1: Checkout - copy code from repo and clone it into runner mentioned above
      - name: Checkout code
        uses: actions/checkout@v4 # uses Indicates that some action is to be performed

        # Installing and setting up JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

        # Package the application
      - name: Build the application
        run: |
          mvn clean
          mvn -B package --file pom.xml
