
# Name of our CI/CD Pipeline
name: Build and Deploy Springboot app using CI/CD

# Tells when to execute the below jobs (actions)
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# In the below job we
jobs:
  build-deploy:  # Job name
    name: Build and Deploy Springboot app

    # Defines the runner - the machine on which the actions will run
    runs-on: ubuntu-latest

    # Defines the steps that the job will perform
    steps:

        # Step 1: Checkout - copy code from repo and clone it into runner mentioned above
      - name: Checkout code
        uses: actions/checkout@v4 # uses Indicates that some action is to be performed

        # Installing and setting up JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

        # Package the application
      - name: Build the application
        run: |
          mvn clean
          mvn -B package --file pom.xml

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .  # Tells the actions to use the Dockerfile in the root directory to build image
#          dockerfile: Dockerfile
          push: 'false'  # Tells if the image needs to be pushed into the docker hub or not.
          tags:  ${{secrets.DOCKER_HUB_USERNAME}}/spring-boot-cicd:latest # the tag need to be in the format of 'your-dockerhub-username/my-app:version'


      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_HUB_USERNAME}}
          password: ${{secrets.DOCKER_HUB_ACCESS_TOKEN}}

      - name: Push Docker image to DOcker Hub
        uses: docker/build-push-action@v5
        with:
          context: .  # Tells the actions to use the Dockerfile in the root directory to build image
#          dockerfile: Dockerfile
          push: true  # Tells if the image needs to be pushed into the docker hub or not.
          tags: ${{secrets.DOCKER_HUB_USERNAME}}/spring-boot-cicd:latest # the tag need to be in the format of 'your-dockerhub-username/my-app:version'


